*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Base theme */
  --bg-main: #1a1d24;
  --surface: #242933;
  --border: #383e4a;

  /* Typography */
  --text-title: #585858;
  --text-primary: #f8f9fa;
  --text-muted: #9ca3af;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-main);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: var(--text-title);
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  width: 450px;
  margin-top: 100px;
  /* Apply the gradient background */
  background: linear-gradient(90deg, #b6fafd 0%, #21a5ac 100%);

  /* Essential: clip the background to the text and make text transparent */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-top: 120px;
  margin-bottom: 8px;
}

.description {
  color: var(--text-muted);
  font-size: 14px;
}

.faq-filters {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.faq-filters__btn {
  height: 35px;
  padding: 0 15px;
  color: var(--text-muted);
  background-color: var(--bg-main);
  border: 2px solid var(--border);
  border-radius: 20px;
  cursor: pointer;
  transition:
    color 0.2s ease,
    border-color 0.2s ease;
}

.faq-filters__btn--active {
  color: var(--text-primary);
  border-color: var(--text-primary);
}

.faq-panels {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  gap: 50px;
}

.faq-item {
  width: 1000px;
  overflow: hidden;
  border-radius: 10px;
}

.faq-item__question {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding: 30px 40px 30px;
  color: var(--text-primary);
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition:
    color 0.2s ease,
    border-color 0.2s ease;
}

.faq-item__answer {
  display: block;
  color: var(--text-muted);
  padding: 0px 40px 20px;
}

.faq-item:not(.faq-item--active) .faq-item__answer {
  display: none;
}

.faq-item--active {
  background-color: var(--surface);
  border: 1px solid var(--border);
}

.faq-item__icon {
  width: 20px;
  height: auto;
  filter: brightness(0) invert(1);
}

.faq-panel {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq-panel:not(.faq-panel--active) {
  display: none;
}
